
Task3/Task3.xcodeproj/project.xcworkspace/
Task3/Task3.xcodeproj/xcuserdata.*
Sorts/Sorts.xcodeproj/project.xcworkspace/
Sorts/Sorts.xcodeproj/xcuserdata.*
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings